# --- PyCharm / JetBrains IDE settings ---
.idea/
*.iml
*.iws
*.ipr

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
secret.py

# --- OS Generated ---
.DS_Store
Thumbs.db

search_methods/OE_ATE_search_no_bit_mask.py
search_methods/OE_ATE_search_no_hash.py
search_methods/AStar_search.py
search_methods/probe_ATE_search_no_hash.py
